## Week 12 Day 1 Homework

### Question 1

Create a list with the following data, and assign it to a variable named shopping: 'spam' 'ham' 'eggs' 'ham'

Then do the following:

    Extract the second element of the list.

    Extract the first to third (inclusive) element of the list.

    Extract only the last element of the list.

In [1]:
shopping = ['spam', 'ham', 'eggs', 'ham']

In [2]:
shopping[1]

'ham'

In [7]:
shopping[0:3]

['spam', 'ham', 'eggs']

In [8]:
shopping[-1]

'ham'

### Question 2

Set up a list with the following elements:

stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

Perform the following:

    Append Edinburgh Waverley to the end of the list
    Add "Queen Street" to the start of the list
    Find out what index "Croy" is at in the list
    Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
    Remove "Haymarket" from the list of stops
    Remove all items from stops

Hint: Some of these methods will change the original object stops. If you make any unwanted changes and want to go back to the original object you can re-run the code chunks where we created the object stops and then appended "Edinburgh Waverley".

In [19]:
stops = ['Croy', 'Cumbernauld', 'Falkirk High', 'Linlithgow', 'Livingston', 'Haymarket']

In [20]:
stops.append('Edinburgh Waverly')
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverly']

In [21]:
stops.reverse()
stops.append('Queen Street')
stops.reverse()
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverly']

In [22]:
stops.index('Croy')

1

In [23]:
stops.remove('Linlithgow')
stops.remove('Livingston')
stops.remove('Haymarket')
stops.remove('Edinburgh Waverly')
stops.extend(['Polmont', 'Linlithgow', 'Livingston', 'Haymarket', 'Edinburgh Waverly'])
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverly']

In [24]:
stops.remove('Haymarket')
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverly']

In [29]:
stops.remove('Queen Street')
stops.remove('Croy')
stops.remove('Cumbernauld')
stops.remove('Falkirk High')
stops.remove('Polmont')
stops.remove('Linlithgow')
stops.remove('Livingston')
stops.remove('Edinburgh Waverly')
stops

[]

###Â Question 3

Set up the following dictionary:

person = {"name": "Steph", "age": 31, "Instructor" : True}

Do the following:

    Return the keys, values and items from this dictionary

    Take out only the name from it

    Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

    Delete the job description from the dictionary (Hint: look up the del function)

In [46]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [31]:
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [32]:
person.values()

dict_values(['Steph', 31, True])

In [33]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [38]:
person['name']

'Steph'

In [47]:
person.update({'email': 'steph@codeclan.com'})
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

In [50]:
del person["Instructor"]
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

### Question 4

For the following list of numbers:

numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

    Print out a list of the even integers:

    Print the difference between the largest and smallest value:

    Print True if the list contains a 2 next to a 2 somewhere.

    Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

In [58]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

for number in numbers:
    if number % 2 == 0:
        print(number)

6
2
2
6

In [61]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

for number in numbers:
    if number is > number
        print('highest number')
    elif:
    number < number
        print('lowest number')
    elif:
        print('nope')

        # not sure how to do this one

SyntaxError: invalid syntax (<ipython-input-61-45611b2b9ce1>, line 4)

In [62]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

# also not sure

### Question 5

Write a conditional that takes in two inputs :

    python_is_fun = True
    python_is_weird = True

We want to print "Woo Python!" if either python_is_fun is true OR python_is_weird is true OR both python_is_fun and python_is_weird are true. Otherwise, print "Python is not for me!". Make sure you test all the combinations.

In [11]:
is_weird = True
is_fun = True

def python_function(is_weird, is_fun):
    if (is_weird == True):
        print('Woo Python!')
    elif (is_fun == True):
        print('Woo Python!')
    else:
        print('Python is not for me!')
        
# this isn't working but I can't see why not, as I've defined the variable it wants me to define

In [8]:
python_function(is_weird)

TypeError: python_function() missing 1 required positional argument: 'is_fun'

### Question 6

We have a list of chickens and the farmer would like to go through all the chickens, collecting the eggs and getting the total number of eggs collected.

chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

To write this as a loop, we'd do something like this:

total_eggs = 0

for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected

print(f"{total_eggs} eggs collected")

Instead, we want to define a function which passes in a list, so that if we wanted to count eggs of a different list of chickens from another farm, we can use the same function, just pass in a different list.

We also want to return the string at the end, instead of using print.

In [10]:
chickens = [{"name": "Margaret", "age": 2, "eggs": 0},
            {"name": "Hetty", "age": 1, "eggs": 2},
            {"name": "Henrietta", "age": 3, "eggs": 1},
            {"name": "Audrey", "age": 2, "eggs": 0},
            {"name": "Mabel", "age": 5, "eggs": 1 },]

def chicken_function(chicken, []):
    for chicken in []:
        total_eggs += chicken["eggs"]
        chicken["eggs"] = 0 # eggs have been collected
        return(f"{total_eggs} eggs collected")

SyntaxError: invalid syntax (<ipython-input-10-ed7368b1218a>, line 7)